.hero.inverse {
	min-height: 100vh;
	background-color: var(--global-muted-background);
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.layout-hero {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.hero-content {
	background-color: #122a2f;
	width: 100%;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

.hero h1 {
	margin-bottom: 45px;
}

