.card-about {
	margin-bottom: 50px;
}

.card-about .card-image {
	border-radius: 50%;
	width: 70px;
	height: 70px;
	background-color: var(--global-muted-color);
	flex-shrink: 0;
	margin-right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-about .card-image svg {
	font-size: 30px;
	color: var(--global-inverse-color);
}

.card-about .card-content {
	text-align: left;
}

.card-about h4 {
	color: #515151;
	margin-bottom: 0;
}

.card-about p {
	margin-top: 5px;
}