.gallery img {

}

.gallery .og-expander {
  height: 700px;
}

.gallery .og-grid {
  font-size: 0;
}


.gallery .og-grid li {
  margin: 0;
}

.gallery .og-details a {
	font-family: var(--global-font-family);
	background-color: var(--global-muted-color);
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    text-transform: none;
    letter-spacing: inherit;
    padding: 14px 40px;
    border: none;
    display: inline-block;
    margin: 0;
    outline: none;
    max-width: 170px;
  }

.gallery .og-details a:hover {
  	color: var(--global-muted-color);
  	background-color: var(--global-primary-background);
  	text-decoration: none;
  }

.gallery .og-details a:before {
 	content: none;
 }

.gallery .og-details h3 {
    font-weight: 400;
    font-size: 25px;
    padding: 0;
    margin-bottom: 0;
    color: #515151;
    text-transform: none;
}

.gallery .og-details {
    margin-top: 65px;
}

.gallery .og-close {
	width: 20px;
	height: 20px;
	right: 14%;
}

.gallery .og-close::before, .gallery .og-close::after {
	background-color: var(--global-muted-color);
  height: 2px;
}

.gallery .og-expander {
	background-color: #fff;
}

.gallery .og-expander-inner {
    padding: 20px 15px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.gallery .og-grid li.og-expanded > a::after {
  border-bottom-color: transparent;
}

.gallery .og-expander {
  height: 495px;
}

.gallery .og-expanded {
  height: 765px;
}

.og-fullimg {
  width: 60%;
}


.og-details {
  width: 40%;
}
